#map {
    height: 400px;
    width: 100%;
}
.focusedInput{
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 8px;
    align-content: center;
    margin-right: 6px;
    margin-bottom: 16px;
    padding: 10px;
    width: 400px;
}
.focusedInput:focus{
    outline: 0px;
    border-color: grey;
}
.addButton{
    padding: 10px;
    border:1px solid #808080;
    border-radius: 8px;
    background-color: lightgray;
    color: #797d9c;
    font-size: 16px;
    text-shadow:0px 1px 0px black;
    text-decoration: none;
    text-transform: full-width;
    width: 75px;
}
.addButton:focus{
    outline: 0px;
}